 <nav class="navbar navbar-dark bg-dark">
                 
                <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
                  <ul class="navbar-nav ms-auto elementos">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                    Chofer
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  th:href="@{/chofer/registrar}">Crear Chofer</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/chofer/lista}">Lista Choferes</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Producto
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" th:href="@{/producto/registrar}">Crear Producto</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/producto/lista}">Listar Producto</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Ingreso Cajas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  th:href="@{/ingreso/registrar}">Ingresar Cajas</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/ingreso/lista}">Listar Ingreso Cajas</a></li>
                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Adelantos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  th:href="@{/adelanto/registrar}">Crear Adelanto</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/adelanto/lista}">Listar Adelanto</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Viajes
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  th:href="@{/viaje/registrar}">Cargar Viaje</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/viaje/lista}">Listar Viajes</a></li>
                </ul>
            </li>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Precio
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  th:href="@{/precio/registrar}">Cargar Precio</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/precio/lista}">Listar Precio</a></li>
                </ul>
            </li>
              </li>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Reparto
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  th:href="@{/reparto/registrar}">Cargar Reparto</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/reparto/lista}">Listar Reparto</a></li>
                </ul>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Liquidacion Chofer
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item"  th:href="@{/liquidacion/registrar}">Cargar Liquidacion</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/liquidacion/lista}">Listar Liquidacion</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Perfil
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/logout" >Cerrar Sesión</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}" href="/registrar" id="navbarDropdown" role="button" aria-expanded="false">
                    Registrate!
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                    LOGIN!
                </a>

            </li>
        </ul>
                 
                </div>
              </nav>