<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Modificar Liquidacion</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/formulario.css">
    </head>
    <body>


        <div class="container-fluid m-5 contenedor">

            <form class="formulario" th:action="@{/liquidacion/modificar/__${liquidacion.id}__}" method="POST">
                <input hidden th:value= "${id}" name="id">
                <input hidden th:value="${liquidacion.chofer.id}" name="idChofer">
                <div class="form-group my-3">
                    <h2 class="mb-2">Modificar liquidacion</h2> </br>
                     <select name="idPrecio" required="">

                        <option>Seleccionar precio</option>

                        <option th:each="precio: ${precios}"
                                th:value="${precio.id}"
                                th:text="${precio.zona}"
                                />
                     </select></br>
                    <label class="mb-2">Chofer</label> 
                    <input disabled=""  th:value="${liquidacion.chofer.nombre}" type="text" class="form-control" name="chofer">
                </div>
                <div class="form-group my-3">
                    <label class="mb-2">Mes</label> 
                    <input  th:value="${liquidacion.mes}" type="number" class="form-control" name="mes" >
                </div>
                <div class="form-group my-3">
                    <label class="mb-2">Año</label> 
                    <input   th:value="${liquidacion.anio}" type="number" class="form-control" name="anio" >
                </div>

               
                
                <button type="submit" class="btn btn-primary mt-3 botones">Actualizar</button>
            </form>

            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito ð</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>

            <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/inicio}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>

            </section>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
